form {
    text-align: center;
    margin-top: 2em;
}

input[type=text],
input[type=submit] {
    padding: 0.3em;
}

input[type=submit] {
    cursor: pointer;
    background-color: orange;
    border: 0.2em solid orange;
    color: white;
    border-radius: 0.4em;
}

.optAvatar {
    text-align: center;
    margin-top: 1em;
}

img {
    width: 5em;
    border-radius: 10em;
}

ul {
    text-align: center;
    margin-top: 1em;
}

li {
    display: inline-block;
    cursor: pointer;
}

.listaInput {
    margin-left: -5em;
}

.listaInput li {
    margin-left: 4.5em;
}

#errorJug1,
#errorJug2 {
    background-color: red;
    color: white;
    width: 20em;
    border-radius: 2em;
    text-align: center;
    margin: 0.2em auto;
}

#btnAva1,
#btnAva2 {
    margin-top: 0.6em;
}


/* block/none */

#avatarJug1,
#formJug2,
#avatarJug2 {
    display: none;
}